body {
    background-color: rgb(230, 230, 230);
    margin-left: 10vw;
    margin-right: 10vw;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    font-family: 'Anton', sans-serif;
    background-color: #003980;
}


header a {
    text-decoration: none;
    color: rgb(250, 117, 29);
}

header .nav a:hover{
    color: whitesmoke;
}

header .logo {
    font-size: 6vw;
    margin: 2%;
    color: rgb(250, 117, 29);
}

header .nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 2vw;
    margin-right: 2%;
    margin-bottom: 2%;
}

.nav a {
    margin-right: 2vw;
}

.contentOne p{
    text-indent: 30px;
    text-align: justify;
}

.articlePic{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.landmarkContent{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.landmarkBlock{
    display: flex;
    flex-direction: column;
    border: 0px solid black;
    border-radius: 20px;
    background-color: rgb(64,64,64);
    margin: 2%;
    padding: 1%;
    width: 27vw;
    height: 32vw;
}

.landmarkPhoto{
    padding: 3%;
    width: 92%;
    height: 40%;
    border-radius: 20px;
    align-self: center;
}

.landmarkTitle, .landmarkInfo{
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.landmarkTitle{
    font-size: 120%;
    color: rgb(255 74 74);
}

.landmarkInfo{
    font-size: 70%;
    width: 91%;
    height: 38%;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgb(228, 228, 228);
}

.planChoose{
    margin: 2vw;
    border-radius: 20px;
    background-color: rgb(255, 238, 164);
    padding: 2vw;
}

.planChoose label{
    font-weight: bold;
}

.planChoose p{
    margin-left: 2vw;
}

.bookInfo{
    margin-left: 3vw;
    margin-top: 3vw;
}

.submitBut{
    width: 300px;
    height: 50px;
    margin-left: 2vw;
}

footer{
    text-align: center;
    background-color: #003980;
    color: white;
    padding-top: 1vw;
    padding-bottom: 1vw;
    margin-top: 2vw;
}